<!doctype html>
<html lang="en">

<head>
    <title>Contact Apps</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="my-4">
            <h4>Create new contact </h4>
            <from action="/contacts" class="form-inline" method="POST">

                <div class="form-group mr-3">
                    <input type="text" name="name" placeholder="Name" class="form-control">
                </div>

                <div class="form-group mr-3">
                    <input type="text" name="phone" placeholder="phone" class="form-control">
                </div>

                <div class="form-group mr-3">
                    <input type="email" name="email" placeholder="Email" class="form-control">
                </div>

                <div class="form-group mr-3">
                    <input type="hidden" name="id" placeholder="Name" class="form-control">
                </div>
                <input type="submit" class="btn btn-primary" value="Submit">
            </from>
        </div>
        <h4>Your contact</h4>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                <% for (let contact of contacts){ %>
                    <tr> 
                         <td> <%= contact.name %> </td>
                         <td> <%= contact.phone %> </td>
                         <td> <%= contact.email %> </td>

                         <td>
                             <button class="btn btn-warning btn-sm"> 
                                 Edit
                             </button>
                             <a href="/contact/delete/<%= contact._id %>"class="btn btn-danger btn-sm" >Delete</a>
                         </td>

                      </tr>
                <% }  %>
              
            </tbody>
          </table>

        <div>

        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>